/* Apply box-sizing to all elements */
* {
    box-sizing: border-box;
}


.container {
  display: flex;
  flex-direction: column;
  align-items: stretch; /* Children will stretch to the full width of the container */
  width: 60%; /* Set container to full width to avoid overflow */
  margin: 0 auto;
}

.transactionMessage {
  text-align: center;
}

.lineBreakText {
  white-space: pre-line; /* This CSS property will render newline characters as actual breaks */
}
/* Reset styles for form elements */
input, button, select {
  border: 4px solid #19a5b5; /* Example border, adjust as needed */
  padding: 10px; /* Example padding, adjust as needed */
  width: 100%; /* Full width */
  margin-bottom: 20px; /* Consistent bottom margin */
  border-radius: 8px; /* Rounded corners for all form elements */
}
/* Specific styles for select element to reset any user agent styling */
.drinkSelector select {
  width: 100%; /* Override any default width */
  -webkit-appearance: none; /* Removes default styling on iOS */
  -moz-appearance: none; /* Removes default styling on Firefox */
  appearance: none; /* Removes default styling */
  background-color: white;
  font-family: inherit; /* To match other inputs' font */
}

.buttonContainer {
  display: flex;
  justify-content: space-between; /* This will position buttons at the space-between */
}

.buttonContainer button {
  flex: 1; /* Flex grow to fill the space */
}

/* DrinkPurchase.module.css */
.buyButton {
  margin-right: 5px;
}

.toggleEarningsButton {
  margin-left: 5px;
}



